<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Find us
                <small>or Contact us</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11182.70294383213!2d-73.5870425766724!3d45.5166058236338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a335058cd83%3A0x28f394cb0fd7d598!2sMoishes!5e0!3m2!1sen!2sca!4v1493164316406"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
        	<address>
			  <strong>Fancy Resto</strong><br>
			  3961 St Laurent Blvd<br>
			  Montreal, QC H2W 1Y4<br>
			</address>
			
			<address>
			  <strong>Hours</strong><br>
			  Mon & Tues: 5:30 pm - 10 pm<br>
			  Wed: 5:30 pm - 11pm<br>
			  Thurs & Fri: 5:30 pm - 12:00 am<br>
			  Sat: 5 pm - 12:00am<br>
			  Sun: 5 pm - 10 pm<br>
			</address>
			
			<address>
			  <strong>Reservations</strong><br>
			  514-211-2222<br>
			</address>
			
			<address>
			  <strong>Email</strong><br>
			  <a href="mailto:name@example.com">name@example.com</a>
			</address>
        	
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <div class="row">
        <div class="col-md-8">
            <h3>Send us a Message</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone Number:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
