<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Menu</h1>
            <p class="text-center">Download <%= link_to 'menu', '/sample-menu.pdf', download: '' %></p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-12">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="900px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            		src="/sample-menu.pdf"></iframe>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
