<!-- Footer -->
<div class="container">
  <hr>
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>&copy; 2017 heygirlygeek</p>
          </div>
      </div>
  </footer>
</div>
<!-- /.container -->
