<%# add navigation links to this file %>
<li><%= link_to 'Home', root_url %></li>
<li>
    <%= link_to 'Menu', page_path('menu') %>
</li>
<li>
    <%= link_to 'Find us / Contact', page_path('contact') %>
</li>
<li>
    <%= link_to 'Jobs', "https://www.indeed.ca/", :target => "_blank" %>
</li>
<li>
	<a href="https://www.facebook.com" class="nav-social" target="__blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
</li>
<li>
	<a href="https://www.instagram.com/" class="nav-social" target="__blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</li>
<li>
	<a href="https://twitter.com/" class="nav-social" target="__blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</li>